# Compiled class file
*.class

# Log file
*.log
*.log*gz

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
/target
core/target
core/commons/build/
core/commons/target/
core/error/build/
core/error/target/
core/persistence/build/
core/persistence/target/
debezium/target
debezium/commons/build/
debezium/commons/target/
spring/target
spring/pagination/target
spring/pagination/core/build/
spring/pagination/core/target/
spring/pagination/resolver/build/
spring/pagination/resolver/target/
*.versionsBackup

# Gradle
/examples/.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VisualStudioCode ###
.vscode
.historyq

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Other
*.DS_Store
